{% extends 'base.html' %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 mt-3 border-bottom">
        <h2 class="h2">All Equipment</h2>
    </div>

    <table class="table  table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Serial Number</th>
                <th>Status</th>
                <th>Current User</th>
            </tr>
        </thead>
        <tbody>
            {% if all_equipment %}
                {% for equipment in all_equipment %}
                    <tr>
                        <td>
                            <a href="{% url 'equipment_detail' equipment.id %}">{{ equipment.name }}</a>
                        </td>
                        <td>{{ equipment.category|title }}</td>
                        <td>{{ equipment.serial_num }}</td>
                        <td>
                            {% if equipment.availability == True %}
                                Currently Available
                        </td>
                            {% else %}
                                Unavailable
                            {% endif %}
                        <td>{{ equipment.current_user }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>No equipment available.</p>
            {% endif %}
        </tbody>
    </table>

{% endblock %}



