{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col">

        {% if student %}

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h2>Delete {{ student.first_name }} {{ student.last_name }}?</h2>
            </div>

            <p>Are you sure you want to delete this user?</p>
            <form method="POST" action="">
                {% csrf_token %}

                <button type="submit" value="Yes" class="btn btn-danger">Delete</button>

                <a href="{% url 'student_detail' student.school_id %}">
                    <button type="button" class="btn btn-secondary">Cancel</button>
                </a>

            </form>

        {% else %}
            <p>This student doesn't exist.</p>
        {% endif %}

        </div>
    </div>

{% endblock %}



