{% extends 'base.html' %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 mt-3 border-bottom">
        <h2 class="h2">New Reservation</h2>
    </div>

    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for err in form.non_field_errors %}
              {{ err }}
            {% endfor %}
        </div>
    {% endif %}


    {% if messages %}
        <div class="alert alert-danger {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12 mx-auto">

            <form class="reservation-id-search" method="get">
                <label for="search">Search for your unique ID:</label>
                <div class="input-group mb-3">
                    {{ form.search }}
                    <div class="input-group-append">
                        <input class="btn btn-outline-secondary" type="submit" value="Search">
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}





