{% extends 'base.html' %}

{% block css %}
    {{ form.media.css }}
{% endblock %}

{% block content %}
    {#  For select2 widget  #}
    {{ form.media }}

    {% if reservation %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 mt-3 border-bottom">
        <h2 class="h2">New Checkout from Reservation</h2>
    </div>

    <div class="row">
        <div class="col-md-12 mx-auto">

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for err in form.non_field_errors %}
                      {{ err }}
                    {% endfor %}
                </div>
            {% endif %}

            <form class="new-checkout" method="post">
                {% csrf_token %}

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="user">User:</label>
                        {{ form.student }}
                    </div>

                    <div class="col-sm-6">
                        <label for="borrow_date">Date Borrowed:</label>
                        {{ form.borrow_date }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="cameras">Cameras:</label>
                        {{ form.cameras }}
                    </div>

                    <div class="col-sm-6">
                        <label for="due_date">Due Date:</label>
                        {{ form.due_date }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="lights">Lights:</label>
                        {{ form.lights }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="computers">Computers:</label>
                        {{ form.computers }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="projectors">Projectors:</label>
                        {{ form.projectors }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="audio">Audio:</label>
                        {{ form.audio }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="misc">Miscellaneous:</label>
                        {{ form.misc }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="notes">Notes:</label>
                        {{ form.notes }}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>


{#            <form class="new-checkout" method="post">#}
{#                {% csrf_token %}#}
{##}
{#                <div class="form-group row">#}
{#                    <div class="col-sm-6">#}
{##}
{#                        <label for="requester">Requester:</label>#}
{#                        <input name="requested_by" class="form-control" disabled required id="id_requested_by" value="{{ requester }}">#}
{##}
{#                    </div>#}
{##}
{#                    <div class="col-sm-6">#}
{#                        <label for="request_date">Request Date:</label>#}
{#                        <input type="text" name="request+date" value="{{ reservation.request_date|date:"m/d/Y" }}" class="form-control datepicker" required="" id="id_request_date">#}
{#                    </div>#}
{#                </div>#}
{##}
{##}
{#                <div class="form-group row">#}
{#                    <div class="col-sm-6">#}
{##}
{#                        <label for="equipment">Equipment:</label>#}
{#                        {% if equipment %}#}
{#                            {% for eq in equipment %}#}
{##}
{#                                <input name="requested_equipment_{{ eq.id }}" class="form-control mb-2" disabled required id="id_requested_equipment_{{ eq.id }}" value="{{ eq }}">#}
{##}
{#                            {% endfor %}#}
{#                        {% endif %}#}
{##}
{#                    </div>#}
{##}
{#                    <div class="col-sm-6">#}
{#                        <label for="due_date">Due Date:</label>#}
{#                        <input type="text" name="due_date" value="{{ reservation.due_date|date:"m/d/Y" }}" class="form-control datepicker" required="" id="id_due_date">#}
{#                    </div>#}
{##}
{#                </div>#}
{##}
{#                <button type="submit" class="btn btn-primary">Submit</button>#}
{##}
{#            </form>#}

        </div>
    </div>

    {% else %}
        <p class="alert alert-info text-center">
            Something went wrong, there's no pre-existing reservation with the provided ID.<br/>
            Try looking for the accepted reservation <a href="{% url 'accepted_reservations' %}">here</a>.
        </p>
    {% endif %}

    {#  For select2 widget  #}
    {{ form.media.js }}

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){
            $(".datepicker").datepicker();
        });
    </script>

{% endblock %}

