{% extends 'checkouts/base.html' %}

{% block content %}

    <h1>Past Checkouts</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Student</th>
                <th>Equipment</th>
                <th>Borrow Date</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% if past_checkouts %}
                {% for checkout in past_checkouts %}

                    <tr>
                        <td>
                            <a href="{% url 'student_detail' checkout.student.school_id %}">{{ checkout.student }}</a>
                        </td>
                        {# This returns a query set: #}
                        <td>
                            {% for cameras in checkout.cameras.all %}
                                {{ cameras }}<br />
                            {% endfor %}

                            {% for lights in checkout.lights.all %}
                                {{ lights }}<br />
                            {% endfor %}

                            {% for computers in checkout.computers.all %}
                                {{ computers }}<br />
                            {% endfor %}

                            {% for projectors in checkout.projectors.all %}
                                {{ projectors }}<br />
                            {% endfor %}

                            {% for audio in checkout.audio.all %}
                                {{ audio }}<br />
                            {% endfor %}

                            {% for misc in checkout.misc.all %}
                                {{ misc }}<br />
                            {% endfor %}
                        </td>
                        <td>{{ checkout.borrow_date }}</td>
                        <td>{{ checkout.due_date }}</td>

                    </tr>

                {% endfor %}

            {% else %}
                <p>No checkouts available.</p>
            {% endif %}
        </tbody>
    </table>

{% endblock %}



