{% extends 'base.html' %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 mt-3 border-bottom">
        <h2 class="h2">Past Checkouts</h2>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Equipment</th>
                <th>Borrow Date</th>
                <th>Due Date</th>
                <th>Return Date</th>
                <th>Staff</th>
            </tr>
        </thead>
        <tbody>
            {% if past_checkouts %}
                {% for checkout in past_checkouts %}

                    <tr>
                        <td>
                            <a href="{% url 'checkout_detail' checkout.id %}">{{ checkout.id }}</a><br/>
                        </td>
                        <td>
                            <a href="{% url 'student_detail' checkout.student.school_id %}">{{ checkout.student }}</a>
                        </td>
                        <td>

                            {% for cameras in checkout.cameras.all %}
                                <a href="{% url 'equipment_detail' cameras.id %}">
                                    {{ cameras }}
                                </a><br />
                            {% endfor %}

                            {% for lights in checkout.lights.all %}
                                <a href="{% url 'equipment_detail' lights.id %}">
                                    {{ lights }}
                                </a><br />
                            {% endfor %}

                            {% for computers in checkout.computers.all %}
                                <a href="{% url 'equipment_detail' computers.id %}">
                                    {{ computers }}
                                </a><br />
                            {% endfor %}

                            {% for projectors in checkout.projectors.all %}
                                <a href="{% url 'equipment_detail' projectors.id %}">
                                    {{ projectors }}
                                </a><br />
                            {% endfor %}

                            {% for audio in checkout.audio.all %}
                                <a href="{% url 'equipment_detail' audio.id %}">
                                    {{ audio }}
                                </a><br />
                            {% endfor %}

                            {% for misc in checkout.misc.all %}
                               <a href="{% url 'equipment_detail' misc.id %}">
                                    {{ misc }}
                                </a><br />
                            {% endfor %}

                        </td>
                        <td>{{ checkout.borrow_date }}</td>
                        <td>{{ checkout.due_date }}</td>

                        {% if checkout.return_date == checkout.due_date %}
                            <td class="table-success">{{ checkout.return_date }}</td>
                        {% elif checkout.return_date > checkout.due_date %}
                            <td class="table-danger">{{ checkout.return_date }}</td>
                        {% elif checkout.return_date < checkout.due_date %}
                            <td class="table-success">{{ checkout.return_date }}</td>
                        {% endif %}

                        <td>
                            {% if checkout.processed_by %}
                                <a href="{% url 'admin_account_details' checkout.processed_by.id %}">
                                    {{ checkout.processed_by.first_name }} {{ checkout.processed_by.last_name }}
                                </a>
                            {% else %}
                                No staff attached
                            {% endif %}
                        </td>

                    </tr>

                {% endfor %}

            {% else %}
                <p>No checkouts available.</p>
            {% endif %}
        </tbody>
    </table>

{% endblock %}



