{% extends 'base.html' %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 mt-3 border-bottom">
        <h2 class="h2">Past Reservation</h2>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Requestor</th>
                <th>Equipment</th>
                <th>Request Date</th>
                <th>Due Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% if past_reservations %}
                {% for res in past_reservations %}

                    <tr>
                        <td>
                            <a href="{% url 'reservation_detail' res.id %}">{{ res.id }}</a><br/>
                        </td>
                        <td>
                            <a href="{% url 'student_detail' res.requested_by.school_id %}">{{ res.requested_by }}</a>
                        </td>
                        <td>

                            {% for cameras in res.cameras.all %}
                                <a href="{% url 'equipment_detail' cameras.id %}">
                                    {{ cameras }}
                                </a><br />
                            {% endfor %}

                            {% for lights in res.lights.all %}
                                <a href="{% url 'equipment_detail' lights.id %}">
                                    {{ lights }}
                                </a><br />
                            {% endfor %}

                            {% for computers in res.computers.all %}
                                <a href="{% url 'equipment_detail' computers.id %}">
                                    {{ computers }}
                                </a><br />
                            {% endfor %}

                            {% for projectors in res.projectors.all %}
                                <a href="{% url 'equipment_detail' projectors.id %}">
                                    {{ projectors }}
                                </a><br />
                            {% endfor %}

                            {% for audio in res.audio.all %}
                                <a href="{% url 'equipment_detail' audio.id %}">
                                    {{ audio }}
                                </a><br />
                            {% endfor %}

                            {% for misc in res.misc.all %}
                               <a href="{% url 'equipment_detail' misc.id %}">
                                    {{ misc }}
                                </a><br />
                            {% endfor %}

                        </td>
                        <td>{{ res.request_date }}</td>
                        <td>{{ res.due_date }}</td>

                        {% if res.accepted %}
                            <td class="table-success">Accepted</td>
                        {% else %}
                            <td class="table-danger">Denied</td>
                        {% endif %}

                    </tr>

                {% endfor %}

            {% else %}
                <p>No reservations available.</p>
            {% endif %}
        </tbody>
    </table>

{% endblock %}



