{% extends 'base.html' %}

{% block content %}

<h1>Search</h1>

{#    <form class="search-form" method="post">#}
{#        {% csrf_token %}#}
{#        <input type="text" class="form-control" id="test-search" name="search" placeholder="Search by name or ID" />#}
{#    </form>#}
{##}
{#    <ul id="search-results">#}
{##}
{#    </ul>#}

{#    <script>#}
{#    $(document).ready(function(){#}
{##}
{#        const $search = $('#test-search')#}
{##}
{#        $search.keyup(function(){#}
{##}
{#            if ( $search.val() ) {#}
{#                console.log("something")#}
{##}
{#                $.ajax({#}
{#                    type: "POST",#}
                    {#url: $search.attr('data-url') || window.location.href,#}
{#                    url: "/search_users/",#}
{#                    data: {#}
{#                        'search_text': $search.val(),#}
{#                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken').val()#}
{#                    },#}
{#                    success: success,#}
{#                    error: error,#}
{#                    dataType: 'html'#}
{#                });#}
{##}
{#            } else {#}
{#                $('#search-results').html('');#}
{#                console.log("nothing")#}
{#            }#}
{##}
{#        });#}
{##}
{#        function success( data, textStatus, jqXHR ) {#}
{#            $('#search-results').html(data);#}
{#        }#}
{##}
{#        function error(jqXHR, textStatus, errorThrown){#}
{#            console.log(jqXHR)#}
{#            console.log(textStatus)#}
{#            console.log(errorThrown)#}
{#        }#}
{##}
{#    });#}
{#    </script>#}

{% endblock %}