{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

    {% if user.is_authenticated %}

     <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2 class="h2">Welcome back, {{ user.first_name|title }} {{ user.last_name|title }}</h2>
     </div>

    <p>You're already signed in as <a href="{% url 'admin_account' %}">{{ user }}</a>.</p>

    {% else %}

     <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2 class="h2">Sign In</h2>
     </div>

    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for err in form.non_field_errors %}
              {{ err }}
            {% endfor %}
        </div>
    {% endif %}

    <form method="post" id="form-login">
        {% csrf_token %}

        <div class="form-group">
            <input type="text" name="username" id="user_login" placeholder="username" class="form-control" value="" size="20" required>
        </div>

        <div class="form-group">
            <input type="password" name="password" id="user_pass" placeholder="password" class="form-control" value="" size="20" required>
        </div>


        <div>
            <input type="submit" class="btn btn-primary mb-4" value="Sign In">
            <input type="hidden" name="next" value="{{ next }}">
        </div>

    </form>

    <a href="{% url 'password_reset' %}">
        <button class="btn btn-warning">Forgot Password?</button>
    </a>

    {% endif %}


{% endblock %}