{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

    {% if user.is_authenticated %}

     <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2 class="h2">Welcome back, {{ user.first_name|title }} {{ user.last_name|title }}</h2>
     </div>

    <p>You're already signed in as <a href="{% url 'admin_account' %}">{{ user }}</a>.</p>

    {% else %}

     <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2 class="h2">Sign In</h2>
     </div>

    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for err in form.non_field_errors %}
              {{ err }}
            {% endfor %}
        </div>
    {% endif %}

    <form method="post" id="form-login">
        {% csrf_token %}

        <div class="form-group">
            <input type="text" name="username" id="user_login" placeholder="username" class="form-control" value="" size="20" required>
        </div>

        <div class="form-group">
            <input type="password" name="password" id="user_pass" placeholder="password" class="form-control" value="" size="20" required>
        </div>


        <div>
            <input type="submit" class="btn btn-primary mb-4" value="Sign In">
            <input type="hidden" name="next" value="{{ next }}">
        </div>

    </form>

    <a href="{% url 'password_reset' %}">
        <button class="btn btn-warning">Forgot Password?</button>
    </a>

    {% endif %}

{#    {% if form.non_field_errors %}#}
{#        <div class="alert alert-danger" role="alert">#}
{#            {% for err in form.non_field_errors %}#}
{#              {{ err }}#}
{#            {% endfor %}#}
{#        </div>#}
{#    {% endif %}#}


{#    {{ form.fields.username }}#}
{#    {{ form.fields.password }}#}
{##}
{#    {{form.fields.password.widget }}#}

{#    {% for field in form %}#}
{#        {{ field }}#}
{#    {% endfor %}#}

{##}
{#    {{form.fields.password.widget.input_type}}#}

{#    {% if form.fields.username %}#}
{#        <label for="{{ form.username.id_for_label }}">Username:</label>#}
{#        <input required class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" />#}
{#    {% endif %}#}
{##}
{#    {% if form.fields.password %}#}
{#        <label for="{{ form.password.id_for_label }}">Password:</label>#}
{#        <input required class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="password" />#}
{#    {% endif %}#}

{#  <form method="post" id="form_login">#}
{#    {% csrf_token %}#}
{##}
{#    {% for field in form %}#}
{##}
{#        <div class="form-group">#}
{##}
{#            <label for="{{ field.name }}">{{ field.label }}:</label>#}
{##}
{#            <div class="input-group show-hide">#}
{#                <input required class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="password" data-toggle="password" />#}
{#                <div class="input-group-append">#}
{#                    <div class="input-group-text"><i class="fa fa-eye-slash"></i></div>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{#        </div>#}
{##}
{#    {% endfor %}#}
{##}
{#      <button type="submit" class="btn btn-primary">Login</button>#}
{##}
{#  </form>#}

{#    {{ form }}#}

{#      {% if form.fields.username %}#}
{#          <div class="form-group">#}
{#            <label for="{{ form.username.id_for_label }}">Username:</label>#}
{#            <input required class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" />#}
{#          </div>#}
{#      {% endif %}#}
{##}
{#      {% if form.fields.password %}#}
{#          <div class="form-group">#}
{#            <label for="{{ form.password.id_for_label }}">Password:</label>#}
{#            <input required class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="password" />#}
{#          </div>#}
{#      {% endif %}#}



{#    <script type="text/javascript">#}
{##}
{#    $(document).ready(function() {#}
{#        $(".show-hide").on('click', function(event) {#}
{##}
{#            if($('.show-hide input').attr("type") == "text"){#}
{#                $('.show-hide input').attr('type', 'password');#}
{#                $('.show-hide i').addClass( "fa-eye-slash" );#}
{#                $('.show-hide i').removeClass( "fa-eye" );#}
{#            } else if ($('.show-hide input').attr("type") == "password"){#}
{#                $('.show-hide input').attr('type', 'text');#}
{#                $('.show-hide i').removeClass( "fa-eye-slash" );#}
{#                $('.show-hide i').addClass( "fa-eye" );#}
{#            }#}
{#        });#}
{#    });#}
{#    </script>#}

{% endblock %}