{% extends 'base.html' %}

{% block title %} Reset Password Confirm{% endblock %}

{% block content %}

     <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2 class="h2">Reset Password Confirmation</h2>
     </div>

        <div class="row">
            <div class="col">

        {% if validlink %}

            <div class="alert alert-info" role="alert">
                <ul>
                    <li>Your password can't be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                </ul>
            </div>

                {% for err in form.new_password1.errors %}
                    <div class="alert alert-danger" role="alert">{{ err }}</div>
                {% endfor %}

                {% for err in form.new_password2.errors %}
                  <div class="alert alert-danger" role="alert">{{ err }}</div>
                {% endfor %}

                {# {{ form.new_password1.errors }} #}
                {# {{ form.new_password2.errors }} #}

                <form method="post" class="mt-4 pt-4">
                    {% csrf_token %}

                    <div class="form-group">
                        <input type="password" name="new_password1" class="form-control" required="true" placeholder="New Password" id="id_new_password1">
                    </div>

                    <div class="form-group">
                        <input type="password" name="new_password2" class="form-control" required="true" placeholder="Confirm New Password" id="id_new_password2">
                    </div>

                    <button type="submit" class="btn btn-primary mb-4">Change Password</button>
                </form>

            </div>
        </div>

        {% else %}

            <div class="row">

                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    <a href="{% url 'password_reset' %}">Please request a new password reset.</a>
                </p>

            </div>

        {% endif %}


{% endblock %}
