{% autoescape off %}

    <h1>Reset Password for {{ user|title }}</h1>

    <p>Hi {{ user.get_username|title }},</p>
    <p>To initiate the password reset process for your account, click the link below:</p>
    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
        </a>
    </p>

    <p>If clicking the link above doesn't work, please copy and paste the URL in a new browser window.</p>

    <p>Sincerely,<br/>
        The Tekhaus Team
    </p>

{% endautoescape %}