{% extends 'base.html' %}

{% block title %} Password Change {% endblock %}

{% block content %}

     <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2 class="h2">Change Password</h2>
    </div>

    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endfor %}

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <input type="password" name="old_password" class="form-control" required="true" placeholder="Old Password" id_old_password"></p>
        </div>

        <div class="form-group">
            <input type="password" name="new_password1" class="form-control" required="true" placeholder="New Password" id="id_new_password1"></p>
        </div>

        <div class="form-group">
            <input type="password" name="new_password2" class="form-control" required="true" placeholder="Confirm New Password" id="id_new_password2"></p>
        </div>

        <button type="submit" class="btn btn-primary mb-4">Update</button>
    </form>

{% endblock %}

