{% extends 'base.html' %}

{% block title %} Reset Password Confirm{% endblock %}

{% block content %}

     <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2 class="h2">Reset Password Confirm</h2>
    </div>

    <div class="row">

        {% if validlink %}

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mb-4">Submit</button>
            </form>

        {% else %}

            <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
            </p>

        {% endif %}

    </div>

{% endblock %}